<app-user-form></app-user-form>

<div>

    <div id="img">
        <img src="1.jpg" alt="">
    </div>

    <div id="celular">
        <button>
            <h2>Celulares</h2>
        </button>
    </div>

    <div id="accesorios">
        <button>
            <h2>Accesorios</h2>
        </button>
    </div>

    <div id="decoration">
        <h2>Popular</h2>
    </div>

    <div id="padre">
        <div id="poco-img">
            <img src="poco.png" alt="">
        </div>

        <div id="lugar">
            <h1>Poco X6 PRO</h1>
            <span>Flow AMOLED CrystalRes de 120Hz</span>
        </div>
    </div>
    <div id="ser">
        
    </div>
    <div id="service">
        
        <div class="service-item">
            <img src="ubi.png" alt="">
            <h4>Ubicación</h4>
        </div>

        <div class="service-item">
            <img src="gara.png" alt="">
            <h4>Garantía</h4>
        </div>

        <div class="service-item">
            <img src="guia.png" alt="">
            <h4>Guía</h4>
        </div>
    </div>

</div>
